In [78]:
import pandas as pd
import numpy as np

df = pd.read_excel("input/new_test.xlsx")

In [79]:
df = df.rename(columns={'Net Payment (Take Home)': 'Net Payment'})

In [80]:
df.columns

Index(['Sl. No', 'Month & Year', 'Emp. Code', 'Name of the employees',
       'Date of Joining', 'Bank Name', 'Bank A/C', 'UAN no', 'ESI NO',
       'Salary', 'Basic (55%)', 'HRA (35%)', 'conveyance (5%)', 'Washing (5%)',
       'Extra Allowance', 'Total', 'Month Days', 'working days', 'Leave',
       'Total.1', 'Extra ', 'Basic', 'HRA', 'conveyance', 'Washing', 'Extra',
       'TOTAL', 'P.T.', 'P.F.(12%)', 'ESI (0.75%)', 'LWF', 'Adv.',
       'Total deduction', 'Reimbursement of Expenses', 'Net Payment',
       'EPF (13%)', 'ESI (3.25%)', 'Bonus', 'Gratuity', 'LWF.1', 'Unnamed: 40',
       'Unnamed: 41'],
      dtype='object')

In [82]:
df=df[['Month & Year', 'Name of the employees','UAN no','ESI NO','Basic', 'HRA', 'conveyance', 'Washing','Extra', 'TOTAL','P.T.', 'P.F.(12%)', 'ESI (0.75%)','Adv.', 'Total deduction','Net Payment']]
df['ESI NO'] = df['ESI NO'].apply(lambda x: '{:.0f}'.format(x) if np.isfinite(x) and x.is_integer() else (str(x) if np.isfinite(x) else 'N/A'))

In [75]:
df=df.astype(str)
df['Adv.'] = df['Adv.'].str.replace('nan','-')
df

,Month & Year,Name of the employees,UAN no,ESI NO,Basic,HRA,conveyance,Washing,Extra,TOTAL,P.T.,P.F.(12%),ESI (0.75%),Adv.,Total deduction,Net Payment
0,2024-04-01,Sunando Banerjee,102068398613,nan,13750,8750,1250,1250,-,25000,130,1650,0,-,1780,23220
1,2024-04-01,Prashanta Mukherjee,100285560825,nan,12100,7700,1100,1100,-,22000,130,1452,0,2000.0,3582,18418
2,2024-04-01,Sk Razzaque,102068398697,nan,16500,10500,1500,1500,-,30000,150,1800,0,-,1950,28050
3,2024-04-01,Biswajit Sutradhar,102068398700,nan,13750,8750,1250,1250,-,25000,130,1650,0,3000.0,4780,20220
4,2024-04-01,Sk Alauddin,102068398678,nan,12650,8050,1150,1150,-,23000,130,1518,0,5000.0,6648,16352
5,2024-04-01,Dudhkumar Das,102068398632,4119096633.0,6600,4200,600,600,-,12000,110,792,90,5000.0,5992,6008
6,2024-04-01,Vinod Kumar,102068398666,4119313262.0,8250,5250,750,750,-,15000,110,990,113,-,1213,13787
7,2024-04-01,Khushi Mondal,102068398716,4119313425.0,6050,3850,550,550,-,11000,110,726,83,3000.0,3919,7081
8,2024-04-01,Afroz Khan,102068398650,4119313312.0,10450,6650,950,950,-,19000,130,1254,143,-,1527,17473
9,2024-04-01,Hasmat Ansari,102068398621,4119313500.0,11000,7000,1000,1000,-,20000,130,1320,150,-,1600,18400
10,2024-04-01,Madhu Mallick,102068398684,4119313108.0,9900,6300,900,900,-,18000,130,1188,135,-,1453,16547
11,2024-04-01,Altab Ali,102068398645,4119096908.0,11000,7000,1000,1000,-,20000,130,1320,150,-,1600,18400
12,2024-04-01,Pinku Patra,101472300016,nan,5280,3360,480,480,-,9600,0,634,72,-,706,8894
13,2024-04-01,Rabi Mistri,100320813269,4119313225.0,6600,4200,600,600,-,12000,110,792,90,-,992,11008
14,2024-04-01,GaneshKumar Das,102068398569,4119319184.0,4950,3150,450,450,-,9000,0,594,68,-,662,8338
15,2024-04-01,Samir Banerjee,102068398595,nan,6600,4200,600,600,-,12000,110,792,90,-,992,11008
16,2024-04-01,Uttam Halder,102068398609,nan,6380,4060,580,580,-,11600,110,766,87,-,963,10637
17,2024-04-01,Mohini Khatun,102068398576,nan,4950,3150,450,450,-,9000,0,594,68,-,662,8338
18,2024-04-01,Surajkumar Giri,100798381365,nan,8800,5600,800,800,-,16000,130,1056,120,-,1306,14694
19,2024-04-01,Biplab Sen,101291049225,nan,477,303,43,43,-,866,0,57,7,-,64,802

In [77]:

columns = [['Month & Year', 'Name of the employees','UAN no',
            'ESI NO','Basic', 'HRA', 'conveyance', 'Washing','Extra', 'TOTAL',
            'P.T.', 'P.F.(12%)', 'ESI (0.75%)','Adv.', 'Total deduction','Net Payment']]

listy=[]
for index, row in df.iterrows():
    words=" "
    list=[]
    for col in columns:

        words = words + ' '.join(row[col])+' '
        list=words.split()
        listy.append(list)
        print(list)

print(listy)

    
    # for col in genre:
    #     row[col] = row[col].replace('[', '').replace(']', '').replace('\'', '')
    #     row[col] = row[col].replace(',', ' ')
    #     words = words + ''.join(row[col])+' '
    # for col in name:
    #     row[col] = row[col].replace(',', ' ')
    #     words = words + ' '.join(row[col])+' '

    # for col in keyword:
    #     words = words + ' '.join(row[col])+ ' '
    # for col in prod:    
    #     row[col] = row[col].replace('[', '').replace(']', '').replace('\'', '')
    # for col in scores:
    #     words = words + str(int(row[col]))
    # df.at[index,'bag_of_words'] = words.lower()
# df.head()

['2024-04-01', 'Sunando', 'Banerjee', '102068398613', 'nan', '13750', '8750', '1250', '1250', '-', '25000', '130', '1650', '0', '-', '1780', '23220']
['2024-04-01', 'Prashanta', 'Mukherjee', '100285560825', 'nan', '12100', '7700', '1100', '1100', '-', '22000', '130', '1452', '0', '2000.0', '3582', '18418']
['2024-04-01', 'Sk', 'Razzaque', '102068398697', 'nan', '16500', '10500', '1500', '1500', '-', '30000', '150', '1800', '0', '-', '1950', '28050']
['2024-04-01', 'Biswajit', 'Sutradhar', '102068398700', 'nan', '13750', '8750', '1250', '1250', '-', '25000', '130', '1650', '0', '3000.0', '4780', '20220']
['2024-04-01', 'Sk', 'Alauddin', '102068398678', 'nan', '12650', '8050', '1150', '1150', '-', '23000', '130', '1518', '0', '5000.0', '6648', '16352']
['2024-04-01', 'Dudhkumar', 'Das', '102068398632', '4119096633.0', '6600', '4200', '600', '600', '-', '12000', '110', '792', '90', '5000.0', '5992', '6008']
['2024-04-01', 'Vinod', 'Kumar', '102068398666', '4119313262.0', '8250', '5250', '750', '750', '-', '15000', '110', '990', '113', '-', '1213', '13787']
['2024-04-01', 'Khushi', 'Mondal', '102068398716', '4119313425.0', '6050', '3850', '550', '550', '-', '11000', '110', '726', '83', '3000.0', '3919', '7081']
['2024-04-01', 'Afroz', 'Khan', '102068398650', '4119313312.0', '10450', '6650', '950', '950', '-', '19000', '130', '1254', '143', '-', '1527', '17473']
['2024-04-01', 'Hasmat', 'Ansari', '102068398621', '4119313500.0', '11000', '7000', '1000', '1000', '-', '20000', '130', '1320', '150', '-', '1600', '18400']
['2024-04-01', 'Madhu', 'Mallick', '102068398684', '4119313108.0', '9900', '6300', '900', '900', '-', '18000', '130', '1188', '135', '-', '1453', '16547']
['2024-04-01', 'Altab', 'Ali', '102068398645', '4119096908.0', '11000', '7000', '1000', '1000', '-', '20000', '130', '1320', '150', '-', '1600', '18400']
['2024-04-01', 'Pinku', 'Patra', '101472300016', 'nan', '5280', '3360', '480', '480', '-', '9600', '0', '634', '72', '-', '706', '8894']
['2024-04-01', 'Rabi', 'Mistri', '100320813269', '4119313225.0', '6600', '4200', '600', '600', '-', '12000', '110', '792', '90', '-', '992', '11008']
['2024-04-01', 'GaneshKumar', 'Das', '102068398569', '4119319184.0', '4950', '3150', '450', '450', '-', '9000', '0', '594', '68', '-', '662', '8338']
['2024-04-01', 'Samir', 'Banerjee', '102068398595', 'nan', '6600', '4200', '600', '600', '-', '12000', '110', '792', '90', '-', '992', '11008']
['2024-04-01', 'Uttam', 'Halder', '102068398609', 'nan', '6380', '4060', '580', '580', '-', '11600', '110', '766', '87', '-', '963', '10637']
['2024-04-01', 'Mohini', 'Khatun', '102068398576', 'nan', '4950', '3150', '450', '450', '-', '9000', '0', '594', '68', '-', '662', '8338']
['2024-04-01', 'Surajkumar', 'Giri', '100798381365', 'nan', '8800', '5600', '800', '800', '-', '16000', '130', '1056', '120', '-', '1306', '14694']
['2024-04-01', 'Biplab', 'Sen', '101291049225', 'nan', '477', '303', '43', '43', '-', '866', '0', '57', '7', '-', '64', '802']
[['2024-04-01', 'Sunando', 'Banerjee', '102068398613', 'nan', '13750', '8750', '1250', '1250', '-', '25000', '130', '1650', '0', '-', '1780', '23220'], ['2024-04-01', 'Prashanta', 'Mukherjee', '100285560825', 'nan', '12100', '7700', '1100', '1100', '-', '22000', '130', '1452', '0', '2000.0', '3582', '18418'], ['2024-04-01', 'Sk', 'Razzaque', '102068398697', 'nan', '16500', '10500', '1500', '1500', '-', '30000', '150', '1800', '0', '-', '1950', '28050'], ['2024-04-01', 'Biswajit', 'Sutradhar', '102068398700', 'nan', '13750', '8750', '1250', '1250', '-', '25000', '130', '1650', '0', '3000.0', '4780', '20220'], ['2024-04-01', 'Sk', 'Alauddin', '102068398678', 'nan', '12650', '8050', '1150', '1150', '-', '23000', '130', '1518', '0', '5000.0', '6648', '16352'], ['2024-04-01', 'Dudhkumar', 'Das', '102068398632', '4119096633.0', '6600', '4200', '600', '600', '-', '12000', '110', '792', '90', '5000.0', '5992', '6008'], ['2024-04-01', 'Vinod', 'Kumar', '102068398666', '4119313262.0', '8250', '5250', '750', '750', '-', '15000', '110', '990', '113', '-', '1213', '13787'], ['2024-04-01', 'Khushi', 'Mondal', '102068398716', '4119313425.0', '6050', '3850', '550', '550', '-', '11000', '110', '726', '83', '3000.0', '3919', '7081'], ['2024-04-01', 'Afroz', 'Khan', '102068398650', '4119313312.0', '10450', '6650', '950', '950', '-', '19000', '130', '1254', '143', '-', '1527', '17473'], ['2024-04-01', 'Hasmat', 'Ansari', '102068398621', '4119313500.0', '11000', '7000', '1000', '1000', '-', '20000', '130', '1320', '150', '-', '1600', '18400'], ['2024-04-01', 'Madhu', 'Mallick', '102068398684', '4119313108.0', '9900', '6300', '900', '900', '-', '18000', '130', '1188', '135', '-', '1453', '16547'], ['2024-04-01', 'Altab', 'Ali', '102068398645', '4119096908.0', '11000', '7000', '1000', '1000', '-', '20000', '130', '1320', '150', '-', '1600', '18400'], ['2024-04-01', 'Pinku', 'Patra', '101472300016', 'nan', '5280', '3360', '480', '480', '-', '9600', '0', '634', '72', '-', '706', '8894'], ['2024-04-01', 'Rabi', 'Mistri', '100320813269', '4119313225.0', '6600', '4200', '600', '600', '-', '12000', '110', '792', '90', '-', '992', '11008'], ['2024-04-01', 'GaneshKumar', 'Das', '102068398569', '4119319184.0', '4950', '3150', '450', '450', '-', '9000', '0', '594', '68', '-', '662', '8338'], ['2024-04-01', 'Samir', 'Banerjee', '102068398595', 'nan', '6600', '4200', '600', '600', '-', '12000', '110', '792', '90', '-', '992', '11008'], ['2024-04-01', 'Uttam', 'Halder', '102068398609', 'nan', '6380', '4060', '580', '580', '-', '11600', '110', '766', '87', '-', '963', '10637'], ['2024-04-01', 'Mohini', 'Khatun', '102068398576', 'nan', '4950', '3150', '450', '450', '-', '9000', '0', '594', '68', '-', '662', '8338'], ['2024-04-01', 'Surajkumar', 'Giri', '100798381365', 'nan', '8800', '5600', '800', '800', '-', '16000', '130', '1056', '120', '-', '1306', '14694'], ['2024-04-01', 'Biplab', 'Sen', '101291049225', 'nan', '477', '303', '43', '43', '-', '866', '0', '57', '7', '-', '64', '802']]